<div id="<%= dom_id article %>">
  <p>
    <strong>Title:</strong>
    <%= article.title %>
  </p>

  <p>
    <strong>Abstract:</strong>
    <%= article.abstract %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= article.body %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= article.image %>
  </p>

  <p>
    <strong>Publish date:</strong>
    <%= article.publish_date %>
  </p>

</div>
